*{
margin: 0 auto;
}

@media (max-width: 860px){
  body{ 
    width: 100%;
    height: 600px;
  }
  
  #div-img-center{
    width: auto;
    height: 250px;
  }
}

@media (min-width: 860px) and (max-width: 1680px){
  body{
    width: 1024px;
    height: 768px;
  }
  
  #div-img-center{
    width: auto;
    height: 320px;
  }
}

@media (min-width: 1680px) and (max-width: 1920px){
  body{
    width: 1680px;
    height: 800px;
  }

  #div-img-center{
    width: auto;
    height: 384px;
  }

}

#div-parent{
  height: 100%;
}

#div-top{
  height: 60%;
  margin: 0px 30%;
}

#div-sw{
}

#div-bottom{
  width: 100%;
  height: 30%;
}

#div-img-center{
  text-align:center;
}

#div-parent span{
  display:block;
}

#sw-field{
  margin-top:5%;
}

#sw-field input{
    height: 35px;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    font-size: 13px;
    padding: 0 3%;
}

#sw-field, #sw-field input{
  width:100%;
}

#claim-field, #claim-field input{
  width:100%;
}

#claim-field input{
  border-style: solid;
  border-color: #9191ff;
  height: 35px;
  padding: 0 3%;
}


#div-img-center img{
height: 100%;
}

/*
 * Place Holder
 */

::-webkit-input-placeholder {
  font-size: 20px;
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 20px;
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 20px;
  text-align: center;
}

:-ms-input-placeholder {
  font-size: 20px;
  text-align: center;
}

#results-search{
  width: 100%;
  height: 100%;
  background-color: #aac4e;
}
