<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1> Parameter value: <%= viewname %></h1>
  </body>
</html>

