<!DOCTYPE html>
<html>
<head>

  <script src="js/vue@2.3.3"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Siri Law BR</title>

</head>
<body>

<div id="div-parent">
  <div id="div-top">
    <div id="div-img-center">
      <img src="imgs/cute_robot1.jpg"></img>
    </div>
    <span id="claim-field">
      <input v-model="claimData" type="text" name="claim-field" :placeholder="phValue" v-on:keydown="ajaxSearchSW">
      <p v-if="outputBool">Searching: {{ claimData }}</p>
    </span>
    <span id="sw-field">
      <input v-model="claimDataSW" type="text" name="claim-sw" disabled v-if="resultsBool"> 
    </span> 
  </div>
  <div id="div-bottom">
    <div id="results-search" v-if="resultsBool">
      Results:<br>
      <p v-html="results"></p>
    </div>
  </div>
</div>

<script type="text/javascript">

function highlight(content, kw){
  var kwords = "";
  for(var i in kw){
    kwords += "\\b"+kw[i]+"\\b";
    if((parseFloat(i)+1) < kw.length){
      kwords += "|";
    }
  }
  regExp = new RegExp(kwords, "ig");
  content = content.replace(regExp, function(match){
      return "<span class='b'>"+match+"</span>";
  });
  return content;
}

var app = new Vue({
  el: '#div-parent',
  data: {
    claimData: "",
    claimDataSW: "",
    keywords: "",
    outputBool: false,
    resultsBool: false,
    phValue: "Olá! Como posso ajuda-lo?",
    results: "",
    hits: ""
  },
  watch: {
    claimData: function(event){
      if(app.claimData){
        app.outputBool= true; 
      }else{
        app.outputBool= false; 
        app.phValue = "Olá! Como posso ajuda-lo?"
      }
    }
  },
  methods: {
    ajaxSearch: function(e){
      if((e.key == "Enter") && (app.claimData != "")){
        config = {
          headers: {
            'Access-Control-Allow-Origin': '*'
          }
        };

        axios.get('http://localhost:9200/cdc/_search?q='+app.claimData, config).then(function (res){
          app.hits = res.data.hits

          app.resultsBool = true;

          if(app.hits.total > 0){
            app.hits.hits.forEach(function(val, i){
              tempContent = val._source.content
              tempContent = highlight(tempContent, app.keywords); 
              app.results += tempContent;
              app.results += "\n"
            });
          }else{
            app.results = "Nothing was found. Try again with different claim."
            app.delayedRemoveResults();
          }
          //console.log(res.data);
          app.claimData = "";
        }).catch(function (error){
            console.log(error);
            alert("Sorry an error ocurred trying to connect the elasticsearch.");
        });
      }
    },
    ajaxSearchSW: function(e){
      if((e.key == "Enter") && (app.claimData != "")){

        axios.post('/ajax/stopwordsremoval', {
          claim: app.claimData
        })
        .then(function (res){
          app.keywords = res.data.keywords;
          app.claimDataSW = "Keywords: "+res.data.keywords;
          app.ajaxSearch(e);
        })
        .catch(function(err){
          console.log(err);
        });
      }
    },
    delayedRemoveResults: function(){
      setTimeout(function(){
          app.resultsBool = false;
          app.results = "";
      }, 5000);
    }
  }
})

</script>

</body>
</html>
