<!DOCTYPE html>
<html>
<head>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Siri Law BR</title>

</head>
<body>

<div id="div-parent">
    <div id="div-img-center">
      <img src="imgs/cute_robot1.jpg"></img>
    </div>
    <span id="claim-field">
      <input v-model="claimData" type="text" name="claim-field" :placeholder="phValue" v-on:keydown="ajaxSearch">
      <p v-if="outputBool">Searching: {{ claimData }}</p>
    </span>
</div>

<script type="text/javascript">
var app = new Vue({
  el: '#div-parent',
  data: {
    claimData: "",
    outputBool: false,
    phValue: "Olá! Como posso ajuda-lo?"
  },
  watch: {
    claimData: function(event){
      if(app.claimData){
        app.outputBool= true; 
      }else{
        app.outputBool= false; 
        app.phValue = "Olá! Como posso ajuda-lo?"
      }
    }
  },
  methods: {
    changeBorder: function(event){
    },
    submitClaim: function(e){
      if(e.key == "Enter"){
        alert("OK!");
        app.claimData = "";
      }
    },
    ajaxSearch: function(e){
      config = {
        headers: {
          'Access-Control-Allow-Origin': '*'
//          'Access-Control-Allow-Methods': 'GET, POST, OPTIONS, PUT, PATCH, DELETE',
//          'Access-Control-Allow-Headers': 'Origin, Content-Type, X-Auth-Token',
        }
      };

      axios.get('http://localhost:9200/?pretty', config).then(function (res){
            console.log(res);
            console.log(res.data);
        }).catch(function (error){
            console.log(error);
        });
    },
  }
})

/*

function createCORSRequest(method, url) {
  var xhr = new XMLHttpRequest();
  if ("withCredentials" in xhr) {

    // Check if the XMLHttpRequest object has a "withCredentials" property.
    // "withCredentials" only exists on XMLHTTPRequest2 objects.
    xhr.open(method, url, true);

  } else if (typeof XDomainRequest != "undefined") {

    // Otherwise, check if XDomainRequest.
    // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
    xhr = new XDomainRequest();
    xhr.open(method, url);

  } else {

    // Otherwise, CORS is not supported by the browser.
    xhr = null;

  }
  return xhr;
}

var xhr = createCORSRequest('GET', 'http://localhost:9200/?pretty');

if (!xhr) {
  throw new Error('CORS not supported');
  console.log("CORS not supported");
}else{
  console.log(xhr);
}

// Response handlers.
xhr.onload = function() {
  var text = xhr.responseText;
  var title = getTitle(text);
  alert('Response from CORS request to ' + url + ': ' + title);
};

xhr.onerror = function() {
  alert('Woops, there was an error making the request.');
};

xhr.send();
*/
</script>

</body>
</html>
